@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@400;500;700&display=swap');

/* CSS RESET */
* 
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html 
{
    font-size: 16px;
    /* 1rem = 16px */

}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

.wrapper 
{
    width: 100%;
    margin: auto;
}

/* Navigation bar */
.nav 
{
    overflow: auto;
    width: 85%;
    margin: 1rem auto;

    /* Margin
        margin: 1rem;
        margin: 1rem 2rem;
        margin: 1rem 2rem 1rem; 
    */

}

.nav h1
{
    text-transform: uppercase;
    font-size: 2rem; 
     /* ( 2 * 16 ) = 32 px */
     width: 50%;
     float: left;
}
.nav h1 a 
{
    text-decoration: none;
    color: #96746b;
}
.nav ul 
{
    width: 50%;
    float: right;
    padding-top: 1rem;
    text-align: right;
}
.nav ul li 
{
    display: inline-block;
    margin-left: 1rem;
    /* 16 * 1 = 16 px */
}
.nav ul li a 
{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #312a26;
    text-decoration: none;
}
/* Banner section */
.banner
{
    width: 100%;
    height: 670px;
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner-text
{
    width: 45%;
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
}
.banner-text h2
{
    text-transform: uppercase;
    color: #c7a17a;
    font-size: 4rem;
}
.banner-text h2 span
{
    color: #96746b;
}
.banner-text p
{
    color: #fff;
}
.banner-text a
{
    text-decoration: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-color: #312a26;
    padding: 1rem;
    display: inline-block;
    margin-top: 1rem;
}
.ads
{
 margin: 4rem auto;  
 width: 87.8%;
 overflow: auto;

}
.ads-items
{
    width: 47%;
    height: 350px;
    margin: 0 1.5%;
    background-size: cover;
    background-position: center;
    position: relative; 
    float: left;
    margin-bottom: 3%;
}
.ads-item1
{
    background-image: url(../images/ads-img1.jpg);
    /* float: left; */
}
.ads-item2
{
    background-image: url(../images/ads-img2.jpg);
    /* float: right; */
}
.ads-text
{
    text-transform: uppercase;
    width: 40%;
    top: 30%;
    left: 10%;
    text-shadow: #312a26 3px 3px 5px;
    position: absolute;
}
.ads-text h3
{
    color: #fff;
    font-size: 2rem;
    line-height: 2.5rem;

}
.ads-text a
{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* Merchandise gallery */
.merch
{
    margin: 4rem auto;  
    width: 86%;
}
.merch-gallery
{
    overflow: auto;
    margin-top: 2rem;

}

.merch-items
{
    width: 24%;
    float: left;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 1%;
}
.merch-items img
{                   
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* section header */
.section-header
{
    text-align: center;
}
.section-header span
{
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    color: #c7a17a;
    font-style: italic;
    
}
.section-header h2
{
    text-transform: uppercase;
    border-color: #312a26;
}
.section-header hr
{
    height: 2px;
    background-color: #c7a17a;
    width: 25%;
    margin: auto;
}

/* Discount section */
.discount
{
    width: 85%;
    height: 350px;
    margin: 4rem auto;
    background-image: url(../images/discount-img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.discount-text
{
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.discount-text span
{
    color: #fff;
    font-family: 'Raleway',sans-serif;
    font-style: italic;
    text-shadow: #312a26 3px 3px 6px;

}
.discount-text h2
{
    color: #fff;
    text-transform: uppercase;
    text-shadow: #312a26 3px 3px 6px;
    font-size: 2rem;
}
.discount-text a
{
    background-color: rgba(255, 255, 255, .5);
    color: #312a26;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
    margin-top: 1rem;
    display: inline-block;
}
/* Ads section 2 */
.ads-item3
{
    background-image: url(../images/ads-img3.jpg);
}
.ads-item4
{
    background-image: url(../images/ads-img4.jpg);
}
.ads-item5
{
    background-image: url(../images/ads-img5.jpg);
}
.ads-item6
{
    background-image: url(../images/ads-img6.jpg);
}

/* Reservation form */
.reservation
{
    width: 85%;
    margin: 4rem auto;
}
.reservation form
{
    overflow: auto;
}
.form-group
{
    background-color: #f2f2f2;
    width: 49%;
    float: left;
    margin-top: 2rem;
    margin-left: .5%;
    margin-right: .5%;
    border-radius: 5px;
    padding: 2rem;
    height: 650px;
}
form label,
form input,
form textarea,
form select
{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding: .8rem;
    display: inline-block;
    margin-bottom: 1rem;
}
form label
{
        font-weight: 500;
        padding: 0;
        margin-bottom: .5rem;
        font-size: .9rem;
}
form p 
{
    font-weight: 700;
    margin: 1rem;
    text-align: center;
}
.res_time
{
    text-align: center;
}
.res_time *
{
    width: auto;
}
.res_time label
{
    margin-right: 1rem;
}
form h3
{
    text-transform: uppercase;
    text-align: center;
}
form h3::after
{
    content: "";
    background-image: url(../images/reservation-cards.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 150px;
    height: 30px;
    margin: auto;
}
.res_agreement  *
{
    width: auto;
}
.res_agreement  label
{
    font-weight: 400;
}
form input[type=submit]
{
    text-transform: uppercase;
    font-weight: 700;
    background-color: #c7a17a;
}

/* Footer */
.footer
{
    background-image: url(../images/footer-img.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer-contents
{
    width: 85%;
    margin: auto;
    overflow: auto;
}
.footer-widgets
{
    width: 24.25%;
    float: left;
    margin-right: 1%;
}
.footer-widgets:nth-child(4)    
{
    margin-right: 0;
}

.footer-widgets h3
{
    color: #fff;
    text-shadow: #312a26 3px 3px 6px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer-widgets h4
{
    color: #fff;
}
.footer-widgets p
{
    color: #c7a17a;
}

.footer th, td
{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-shadow: #312a26 3px 3px 6px;
}
.footer form *
{
    width: auto;
}
.footer-social
{
    color: #fff;
    background-color: #19100f;
    overflow: auto;
    padding: 1rem 7.5%;
}
.social-widget
{
    width: 32.66%;
    float: left;
    text-align: center;
}
.social-widget h3
{
    text-transform: uppercase;
}
.social-widget img
{
    width: 1.5rem;
}


